* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.catalog-outer {
  height: 510px;
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px lightgray solid;
  display: flex;
}

.catalog-items {
  /* border-right: 1px lightgray solid; */
  width: 100%;
  height: 90px;
  overflow-x: scroll;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.catalog-view {
  display: flex;
  height: calc(100% - 90px);
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #f0f0f0;
}

.text-center {
  text-align: center;
}

.view-outter {
  height: inherit;
  width: inherit;
  position: static;
  margin: inherit;
}

app-catalog-items {
  display: inline-flex;
  position: absolute;
  left: 50px;
  padding-right: 50px;
}

.previous {
  position: fixed;
  left: 0;
  height: 90px;
  width: 50px;
  background: #ffffff;
  z-index: 5;
  cursor: pointer;
  border-right: 1px solid lightgray;
}

.previous img {
  height: 50px;
  transform: translate(12px, 21px);
}
.next {
  position: fixed;
  right: 0;
  width: 50px;
  height: 90px;
  z-index: 5;
  background: #ffffff;
  cursor: pointer;
  border-left: 1px solid lightgray;
}

.next img {
  height: 65px;
  transform: translate(5px, 15px);

}

.slide-input {
  position: absolute;
  bottom: -25px;
  left: 50%;
}

.title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
